
.outline{
	-webkit-text-stroke: 1px black;
}

.outline1{
	-webkit-text-stroke: 2px black;
}

.logo{
	image-size: 100px;
	margin-right: 100px;
	align-image: justify;

}

section.TB1 {
		display:flex;
		justify-content: space-around;
	}
section.TB1 div {
	flex:1;
	padding:0 20px;
}

#nav !important{
	background-opacity:0.5;
	background-image:url(images/data2.jpeg);
		 background-repeat: no-repeat;
		 background-size:cover;
		 background-height: auto;
		 background-width:auto;


}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
